# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS metadata
.DS_Store
Thumbs.db
Desktop.ini

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary media recordings
assets/video/Bug.mp4
